/*
 * simulator.css - Provides styling for the Robotic Arm Simulator.
 * 
 * Bryant Pong
 * ECSE-4750
 * 10/25/14
 *
 * Last Updated: 12/2/14 - 12:45 AM
 */
body {
	background-color: lightgrey;
	      text-align: center;
}

h1 {
	text-align: center;
	     color: black;
}

/* Formatting for the joints section. */ 
#joints {
	text-align: left;
		 color: black;
} 

/* Formatting for the kinematics data table. */
#kinematicsData {
	table-layout: fixed;
	width: 1300px;
}

